
<html>
<head>
  <title>
    Travel Planner
  </title>
  <link rel="stylesheet" href="../static/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <section class="header">
    <div class = "container">
        <button onclick="window.location.href='signin.html'" type="button" class="login-btn">Log In</button>
        <button onclick="window.location.href='signup.html' " type="button" class="signup-btn">Sign Up</button>
    </div>
    <h1 style="color: rgb(216, 125, 140);">Trip Planner</h1>
    <h1>We Help You Travel The Globe</h1>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search City">
      <div class="input-group-append">
        <button type="button" class="input-group-text btn">Search</button>
      </div>
    </div>
    <br>
    <div>
      <button type="button" class="review">review</button>
    </div>
  </section>
</body>
</html>