
<html>
    <head>
        <title>Log in page</title>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href="../static/signin.css">
        <script src="../signin.js"></script>
    </head>
    <body>
        <form class="box" action = "signin.html" method="POST">
            <h1>Log In</h1>
            <input type="text" placeholder = "Enter Username" id = "username">
            <input type="text" placeholder = "Enter Password" id = "password">
            <input type="submit" value="Login" onclick="valiate()">
        </form>

    </body>
</html>